<section class="section portfolio" aria-labelledby="portfolio-label">
    <div class="container">

      <h2 class="section-title headline-md text-center" id="portfolio-label">Our Services</h2>

      <ul class="portfolio-list">

        <li>
            <div class="portfolio-card">
  
              <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                <img src="./assets/images/56.jpg" width="800" height="540" loading="lazy"
                  alt="Website Design for Marketing Agency Startup" class="img-cover">
  
                <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                  <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                </a>
              </div>
  
              <div class="card-content">
  
                <span class="chip label-md"> Self-Drive Car Hire</span>
  
                <h3 class="title-md">Self-Drive Car Hire</h3>
  
              
                  <p class="card-text">
                      Experience the freedom of exploring Kenya's hidden gems at your own pace with our self-drive car hire service. Choose from our fleet of well-maintained vehicles,
                       including sedans, SUVs, and minivans, to accommodate your travel group comfortably
                  </p>
                
  
                <a href="#" class="btn btn-primary">Call To order</a>
  
              </div>
  
            </div>
          </li>


        <li>
          <div class="portfolio-card">

            <div class="card-banner img-holder" style="--width: 800; --height: 540;">
              <img src="./assets/images/45.jpg" width="800" height="540" loading="lazy"
                alt="Website Design for Marketing Agency Startup" class="img-cover">

              <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
              </a>
            </div>

            <div class="card-content">

              <span class="chip label-md"> Delivery and Pickup Services</span>

              <h3 class="title-md">Delivery and Pickup Services</h3>

            
              <p><i>Convenience at Your Fingertips</i></p>
                <p class="card-text">
                    In today's fast-paced world, convenience is key. That's why we offer our customers the option to have their rental vehicles delivered to their desired location, whether it's their home, office, or hotel. This saves you the time and hassle of having to travel to our rental location to pick up your vehicle
                </p>
              

              <a href="#" class="btn btn-primary">Call To order</a>

            </div>

          </div>
        </li>

        <li>
            <div class="portfolio-card">
  
              <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                <img src="./assets/images/19.png" width="800" height="540" loading="lazy"
                  alt="Website Design for Marketing Agency Startup" class="img-cover">
  
                <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                  <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                </a>
              </div>
  
              <div class="card-content">
  
                <span class="chip label-md"> Flexible Rental Options:</span>
  
                <h3 class="title-md">Flexible Rental Options:</h3>
  
              
                  <p class="card-text">
                 <li>
                     <ol>
                        <p><b><u><p>Daily, Weekly, and Monthly Rentals:</u></b>Choose the rental duration that suits your travel needs </p>
                        <p><b><u>One-Way and Round-Trip Rentals:</u></b> Enjoy the convenience of one-way rentals or plan a round trip</p>
                        <p><b><u>Local and Nationwide Rentals:</u></b> Explore Kenya's diverse landscapes with our local and nationwide rental options</p>
                    </ol>
                </li>  
                  </p>
                
  
                <a href="#" class="btn btn-primary">Call To order</a>
  
              </div>
  
            </div>
          </li>
          <h2 class="section-title headline-md text-center" id="portfolio-label">Car Wash Services</h2>
          <li>
            <div class="portfolio-card">
  
              <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                <img src="./assets/images/46.jpg" width="800" height="540" loading="lazy"
                  alt="Website Design for Marketing Agency Startup" class="img-cover">
  
                <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                  <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                </a>
              </div>
  
              <div class="card-content">
  
                <span class="chip label-md"> Interior Detailing:</span>
  
                <h3 class="title-md">Interior Detailing:</h3>
  
              
                  <p class="card-text">
                    Enjoy a fresh and inviting interior with our comprehensive interior detailing service. We'll vacuum, shampoo, and clean every nook and cranny, leaving your car smelling fresh and looking immaculate.                  </p>
                
  
                <a href="#" class="btn btn-primary">Call To order</a>
  
              </div>
  
            </div>
          </li>

          <li>
            <div class="portfolio-card">
  
              <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                <img src="./assets/images/48.webp" width="800" height="540" loading="lazy"
                  alt="Website Design for Marketing Agency Startup" class="img-cover">
  
                <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                  <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                </a>
              </div>
  
              <div class="card-content">
  
                <span class="chip label-md"> Exterior Detailing:</span>
  
                <h3 class="title-md">Exterior Detailing:</h3>
  
              
                  <p class="card-text">
                    Protect and preserve your car's exterior with our meticulous Exterior Detailing service. It includes: <br>

                    <li>- Hand wash and dry.</li>
                    <li> - High-quality wax application.</li>
                   <li> - Buffing and polishing to restore shine.</li>
                   <li>- Exterior trim conditioning.</li>
                    
                    
                
  
                <a href="#" class="btn btn-primary">Call To order</a>
  
              </div>
  
            </div>
          </li>

          <li>
            <div class="portfolio-card">
  
              <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                <img src="./assets/images/47.jpg" width="800" height="540" loading="lazy"
                  alt="Website Design for Marketing Agency Startup" class="img-cover">
  
                <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                  <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                </a>
              </div>
  
              <div class="card-content">
  
                <span class="chip label-md"> Full Detailing Package:</span>
  
                <h3 class="title-md">Full Detailing Package:</h3>
  
              
                  <p class="card-text">
                    For the ultimate in care and rejuvenation, our Full Detailing Package combines both Interior and Exterior Detailing services to completely revitalize your car.
                  </p>
                
  
                <a href="#" class="btn btn-primary">Call To order</a>
  
              </div>
  
            </div>
          </li>
      </ul>

    </div>
  </section>