<div class="container">
    <h2 style="text-align: center;">Bookings</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Pickup Date</th>
          <th>Dropoff Date</th>
          <th>Pickup Location</th>
          <th>Dropoff Location</th>
          <th>Car</th>
          <th>Licence Plate</th>
          <th>Destination</th>
          <th>Phone Number</th>
          <th>Id Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of bookings">
          <td>{{ booking.name }}</td>
          <td>{{ booking.pickup_date }}</td>
          <td>{{ booking.dropoff_date }}</td>
          <td>{{ booking.pickup_location }}</td>
          <td>{{ booking.dropoff_location }}</td>
          <td>{{ booking.car_type }}</td>
          <td>{{ booking.license_plate }}</td>
          <td>{{ booking.destination }}</td>
          <td>{{ booking.phone_number }}</td>
          <td>{{ booking.id_number }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  