<main>
    <article>

      <!-- 
        - #CONTACT
      -->

      <section class="section contact has-bg-image" aria-labelledby="contact-label "
        style="background-image: url('./assets/images/contact-bg.png')" style="margin-top: 20px;">
        <div class="container" style="margin-top: 10px;">

          <form action="" class="contact-form">

            <h2 class="headline-sm" id="contact-label">Get in touch with us</h2>

            <!-- <p class="contact-text body-md">
              Send me a message and I am sure I will be able to help you
            </p> -->

            <div class="wrapper">

              <div>
                <label for="name" class="label">First name</label>

                <input type="text" name="name" id="name" placeholder="Name *" required class="input-field">
              </div>

              <div>
                <label for="email" class="label">Your Email </label>

                <input type="email" name="email" id="email" placeholder="Email *" required class="input-field">
              </div>

            </div>

            <label for="subject" class="label">Subject</label>
            <input type="text" name="subject" id="subject" placeholder="Subject *" class="input-field">

            <label for="message" class="label">Your message </label>
            <textarea name="message" id="message" placeholder="Your message *" required class="input-field"></textarea>

            <a href="#" class="btn btn-tertiary">Send Message</a>

          </form>

          <div class="contact-content">

            <ul class="contact-list">

              <li class="contact-item">

                <div class="item-icon" style="background-color: hsl(177, 39%, 72%)">
                  <ion-icon name="call" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <p class="label-lg">Phone</p>

                  <a href="tel:+254795349039" class="body-lg">+254795349039</a>
                </div>

               

              </li>
              <li class="contact-item">

                <div class="item-icon" style="background-color: #25D366;">
                  <ion-icon name="logo-whatsapp" aria-hidden="true"></ion-icon>
                </div>
              
                <div>
                  <p class="label-lg">WhatsApp</p>
              
                  <a href="https://wa.me/254795349039" class="body-lg">+254 795 349 039</a>
                </div>
              
              </li>

              <li class="contact-item">

                <div class="item-icon" style="background-color: hsl(41, 99%, 64%)">
                  <ion-icon name="mail" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <p class="label-lg">Mail</p>

                  <a href="tel:shaphankirui@gmail.com" class="body-lg">Mugshad@gmail.com</a>
                </div>

              </li>

              
              

            </ul>

          </div>

          <div class="map">
            <h3><b>Location</b></h3>
            <div class="mapArea">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.6570371754883!2d35.26937650950671!3d0.5151776994776169!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x17810175d79bacb7%3A0xb720ed60f5eb5093!2sEldoret%20town!5e0!3m2!1sen!2ske!4v1701115779573!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>

        </div>
      </section>

    </article>
  </main>