.map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    flex-direction: column;
    margin-top: 100px;
    color: white;
  }
  
  /* Map Styles */
  .map iframe {
    width: 100%; /* Make the iframe take up the full width of its container */
    height: 100%; /* Make the iframe take up the full height of its container */
    border: 0;
  }
  