<main >
    <article>

      <!-- 
        - #PORTFOLIO
      -->
      <div class="card-content">
      <!-- <h1>About Us</h1>
      <blockquote class="body-sm">
      <p>At <b>Best Home Mabati Solutions</b>, we believe that your home is a reflection of your 
        <br>
        unique style and personality. That's why we're dedicated to providing you with 
        <br>
        top-quality roofing materials, tiles, and sofa sets that will not only enhance the comfort and 
        <br>
        functionality of your living spaces but also elevate the aesthetics of your home 
      </p>
    </blockquote>
      <h4>Our Commitment to Excellence:</h4>
      <p>
       <b>Roofing Materials:</b>  Explore our wide range of roofing materials, designed to protect your home from the elements while adding elegance to its exterior.
         From durable shingles to energy-efficient roofing solutions, we've got you covered.
      </p>
      <p>
        <b> Tiles:</b> Transform your interiors with our exquisite selection of tiles. Whether you're looking for classic ceramic tiles, trendy mosaic patterns,
         or luxurious marble finishes, you'll find the perfect tiles to suit your taste.
      </p>
      <p>
       <b> Sofa Sets:</b> Create inviting and cozy living spaces with our premium sofa sets. Our collection includes a variety of styles, from modern and
         minimalist to traditional and elegant, all designed for comfort and durability.
      </p> -->

      <div class="about-page" style="background-color: #f7f7f7; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); text-align: center;">
        <h2 style="font-size: 24px; color: #333; margin-bottom: 20px;"><b>Welcome to Mugshad Car Rentals - Your Premier Car Rental Partner</b></h2>
        <p style="font-size: 16px; color: #666; margin-bottom: 20px;">
          At MugShad Car Hire, we pride ourselves on being more than just a car rental company; we are your gateway to exploring Kenya's breathtaking landscapes and vibrant cities with ease and comfort. Based in the heart of Kenya, we serve a diverse clientele, offering personalized services that cater to each customer's unique travel needs.
        </p>
    
        <!-- Additional Content -->
        <h3 style="font-size: 20px; color: #333; margin-top: 30px;">OUR MISSION</h3>
        <p style="font-size: 16px; color: #666;">
         Our mission is to provide our customers with the best possible rental experience. We strive to exceed our customers' expectations by offering: <br>

         At MugShad Car Hire, our mission is to provide exceptional car rental services that ensure our customers have a seamless and enjoyable travel experience throughout Kenya. We are dedicated to offering a diverse fleet of high-quality vehicles to meet the varied needs of our clients, whether they're on business, embarking on a safari adventure, or exploring the country's rich cultural heritage. <br>
         Our goal is to be the car hire company of choice in Kenya, known for our integrity, customer-centric approach, and contribution to creating memorable travel experiences.
        </p>
    
        <h3 style="font-size: 20px; color: #333; margin-top: 30px;">Our Services</h3>
        <ul style="font-size: 16px; color: #666; list-style: disc; padding-left: 20px;">
            <li> <b><u>Self-Drive Car Hire:</u></b> Experience the freedom of exploring Kenya's hidden gems at your own pace with our self-drive car hire service. Choose from our fleet of well-maintained vehicles, including sedans, SUVs, and minivans, to accommodate your travel group comfortably.</li>
            <li> <b><u>Delivery and Pickup Services:</u></b> we offer our customers the option to have their rental vehicles delivered to their desired location, whether it's their home, office, or hotel. This saves you the time and hassle of having to travel to our rental location to pick up your vehicle.</li>
            <li><b><u>Flexible Rental Options:</u></b><u>Daily, Weekly, and Monthly Rentals:-</u> Choose the rental duration that suits your travel needs</li>
            
            <li><u>One-Way and Round-Trip Rentals:</u> Enjoy the convenience of one-way rentals or plan a round trip</li>
            <li><u>Local and Nationwide Rentals</u> Explore Kenya's diverse landscapes with our local and nationwide rental options</li>
        </ul>
    
        <!-- Contact Information -->
        <a  routerLink="/contact" class="btn btn-primary">Contact us Now</a>

    </div>
    
    
    </div>
    </article>
  </main>