<main>
  <article>

    <!-- 
      - #HERO
    -->

    <section class="section hero" aria-label="home">
      <div class="container">

        <div class="hero-content">

          <p class="hero-subtitle">Mugshad Car Rentals</p>

          <h1 class="headline-sm">Welcome to Mugshad Car Rentals - Your Premier Car Rental Partner</h1>
          <a routerLink="/contact" class="btn btn-primary">Get In Touch With us</a>

        </div>

        <figure class="hero-banner">
          <img src="assets/images/21.png" width="780" height="695"
            alt="Home Sofa Sets" class="w-100">
            <!-- <div class="slideshow-container">
              <div *ngFor="let image of images; let i = index" class="mySlides fade">
                <img [src]="image" [style.width]="'100%'" [style.height]="'500px'" [style.margin]="'0 auto'">
              </div>
            </div> -->
            

        </figure>


        

      </div>
    </section>





    <!-- 
      - #CLIENT
    -->

    <!-- <section class="client" aria-label="Trusted client">
      <div class="container">

        <ul class="slider">

          <li class="slider-item">
            <img src="assets/images/client-1.svg" width="130" height="40" alt="clients" class="w-100">
          </li>

          <li class="slider-item">
            <img src="assets/images/client-2.svg" width="130" height="40" alt="clients" class="w-100">
          </li>

          <li class="slider-item">
            <img src="assets/images/client-3.svg" width="130" height="40" alt="clients" class="w-100">
          </li>

          <li class="slider-item">
            <img src="assets/images/client-4.svg" width="130" height="40" alt="clients" class="w-100">
          </li>

          <li class="slider-item">
            <img src="assets/images/client-5.svg" width="130" height="40" alt="clients" class="w-100">
          </li>

        </ul>

      </div>
    </section> -->





    <!-- 
      - #ABOUT
    -->

    <section class="section about" aria-label="about me">
      <div class="container">

        <figure class="about-banner">
          <img src="assets/images/30.png" width="780" height="654" loading="lazy"
            alt="Jassa, the blonde, dressed in a black tops with a smile on her face" class="w-100">
        </figure>

        <div class="about-content">

          <h2 class="title-lg">Your One-Stop Shop for Hassle-Free Car Rentals in Kenya</h2>

          <p class="body-md section-text">
            At MugShad Car Rentals, we offer a wide selection of rental cars to suit your needs, whether you're traveling for business or pleasure. We're committed to providing our customers with an exceptional rental experience,
             from our friendly and knowledgeable staff to our well-maintained vehicles.
          </p>

          <ul class="about-list">

            <li>
              <p class="list-text">
                <strong class="strong title-md">200+</strong> Businesses have enjoyed our services
              </p>
            </li>

            <li>
              <p class="list-text">
                <strong class="strong title-md">850+</strong> Happy customers
              </p>
            </li>

          </ul>

          <div class="wrapper">
            <a routerLink="/contact" class="btn btn-primary">Contact Us</a>

            <a routerLink="/portfolio" class="btn btn-secondary">About Us</a>
          </div>

        </div>

      </div>
    </section>





    <!-- 
      - #SKILL
    -->

    <section class="section skill" aria-labelledby="skill-label">
      <div class="container">

        <div class="skill-content">

          <h2 class="section-title headline-md" id="skill-label">Our Cars</h2>

          <ul class="skill-list">

            <li>
              <a  routerLink="/product" class="card card-sm" style="background-color: hsl(177, 39%, 72%)">

                <div class="card-media">
                  <img src="">
                </div>

                <h2 routerLink="/product" class="card-title">Pickups</h2>

              </a>
            </li>

            <li>
              <a  routerLink="/product"  class="card card-sm" style="background-color: hsl(41, 99%, 64%)">

                <div class="card-media">
                  <img src="">
                </div>

                <h2 class="card-title">Sallon</h2>

              </a>
            </li>

            <li>
              <a  routerLink="/product"  class="card card-sm" style="background-color: hsl(19, 97%, 85%)">

                <div class="card-media">
                  <img src="">
                </div>

                <h2 class="card-title">Range Rover</h2>

              </a>
            </li>

            <li>
              <a  routerLink="/product"  class="card card-sm" style="background-color: hsl(221, 100%, 79%)">

                <div class="card-media">
                  <img src="">
                </div>

                <h2 class="card-title">Lexus</h2>

              </a>
            </li>

            <li>
              <a  routerLink="/product"  class="card card-sm" style="background-color: hsl(75, 75%, 44%)">

                <div class="card-media">
                  <img src="">
                </div>

                <h2 class="card-title">Toyota</h2>

              </a>
            </li>

            <li>
              <a  routerLink="/product" class="card card-sm" style="background-color: hsl(245, 100%, 90%)">

                <div class="card-media">
                  <img src="">
                </div>

                <h2 class="card-title">Jeep</h2>

              </a>
            </li>

          </ul>

        </div>

        <figure class="skill-banner">
          <img src="assets/images/53.png" style= "width:690px;height:357px" loading="lazy"
            alt="cars" class="w-100">
        </figure>

      </div>
    </section>





    <!-- 
      - #CTA
    -->

    <section class="cta">
      <div class="container">
        <h2 class="title-lg">Intrested in our Cars?</h2>

        <a routerLink="/product" class="btn btn-tertiary">See Our Cars</a>
      </div>
    </section>





    <!-- 
      - #TESTIMONIALS
    -->

    <section class="section testi" aria-labelledby="testi-label">
      <div class="container">

        <h2 class="headline-md section-title text-center" id="testi-label">Testimonial</h2>

        <ul class="slider">

          <li class="slider-item card-container">
            <div class="card card-lg">

              <figure class="card-media">
                <img src="assets/images/maleicon.jpg" width="100" height="100" loading="lazy" alt="Customer"
                  class="img-cover">
              </figure>

              <div class="card-content">

                <blockquote class="body-sm">
                  Mugshad Car Hire exceeded my expectations. The punctuality of the service and the efficiency of the booking process is professional.
                </blockquote>

                <p class="client-name">John Kamau</p>

                <p class="client-title">Business Man</p>

              </div>

            </div>
          </li>

          <li class="slider-item card-container">
            <div class="card card-lg">

              <figure class="card-media">
                <img src="assets/images/femaleicon.png" width="100" height="100" loading="lazy" alt="Customer"
                  class="img-cover">
              </figure>

              <div class="card-content">

                <blockquote class="body-sm">
                  As a frequent traveler, I have used many car rental services, but MugShad Car Hire stands out for its exceptional service. The reservation process was straightforward.
                </blockquote>

                <p class="client-name">Catherine Kirui</p>

                <p class="client-title">Customer</p>

              </div>

            </div>
          </li>

          <li class="slider-item card-container">
            <div class="card card-lg">

              <figure class="card-media">
                <img src="assets/images/maleicon.jpg" width="100" height="100" loading="lazy" alt="Customer"
                  class="img-cover">
              </figure>

              <div class="card-content">

                <blockquote class="body-sm">
                  Traveling through Kenya was an absolute dream, thanks to MugShad Car Hire. From the bustling streets of Nairobi to the rugged trails of the Maasai Mara, I felt confident and secure.
                </blockquote>

                <p class="client-name">Alex Kirwa</p>

                <p class="client-title">French Traveler</p>

              </div>

            </div>
          </li>

          <li class="slider-item card-container">
            <div class="card card-lg">

              <figure class="card-media">
                <img src="assets/images/femaleicon.png" width="100" height="100" loading="lazy" alt="Customer"
                  class="img-cover">
              </figure>

              <div class="card-content">

                <blockquote class="body-sm">
                  MugShad Car Hire exceeded my expectations during my recent business trip to Eldoret. The professionalism and efficiency of their service made my travels stress-free. The car was comfortable and well-equipped
                </blockquote>

                <p class="client-name">Marry Njeri</p>

                <p class="client-title">Business Owner</p>

              </div>

            </div>
          </li>

        </ul>

      </div>
    </section>

  </article>
</main>